:root {
  --bg-color: #ffffff;
  --text-color: #212529;
  --button-bg: #007bff;
  --button-text: #ffffff;
}

.dev-mode {
  background-color: var(--bg-development-color) !important;
  min-height: 100vh;
}

/* Light theme */
[data-bs-theme="light"] {

  --bg-development-color: #f87c7c;


  --bg-color: #ffffff;
  --text-color: #212529;
  --button-bg: #007bff;
  --button-text: #ffffff;

  /*Feature card styles light*/
  --feature-card-bg: #ffffff;
  --feature-icon-color: #007bff;
  /* Primary Blue */
  --feature-text-muted: #6c757d;
  --feature-border: #dee2e6;

  /*Text style colors*/
  --heading-color: #0066ff;
}

/* Dark Theme */
[data-bs-theme="dark"] {

  --bg-development-color: #77348b;



  --bg-color: #121212;
  --text-color: #f8f9fa;
  --button-bg: #373b3e;
  --button-text: #ffffff;

  /*Feature card styles light*/
  --feature-card-bg: #1e1e1e;
  --feature-icon-color: #3786ff;
  --feature-text-muted: #adb5bd;
  --feature-border: #333333;

  /*Text style colors*/
  --heading-color: #7594c2;

  --bs-body-bg: var(--bg-color);
  --bs-body-color: var(--text-color);
  --bs-tertiary-bg: #1e1e1e;
}

.text-color {
color: var(--text-color) !important;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.MainContainer {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}

.dynamic-heading {
  color: var(--heading-color);
}

.dynamic-text {
  color: var(--text-color);
}

.custom-card {
  background-color: var(--feature-card-bg) !important;
  border-color: var(--feature-border) !important;
  color: var(--text-color) !important;
}

/* navbar custom styles */
.custom-navbar-container {
border-radius: 0 0 20px 20px !important;
border: 1px solid var(--bs-border-color);
border-top: none;
}

.custom-navbar-padding {
    margin-bottom: 30px !important;
    background-color: transparent !important;
  }