:root {
  --bg-color: #ffffff;
  --text-color: #212529;
  --button-bg: #007bff;
  --button-text: #ffffff;
}

 /* Light theme */
[data-bs-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #212529;
  --button-bg: #007bff;
  --button-text: #ffffff;
  --border-color-home-text01: #b8b9bb;
}

/* Dark Theme */
[data-bs-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f8f9fa;
  --button-bg: #373b3e; 
  --button-text: #ffffff;
  --border-color-home-text01: #6d6d6d;
  
  --bs-body-bg: var(--bg-color);
  --bs-body-color: var(--text-color);
  --bs-tertiary-bg: #1e1e1e; 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.MainContainer {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}